* {
    font-family: sans-serif;
    font-weight: regular;
    text-align: justify;
  }
  h1 {
    font-weight: lighter;
    color: #06103D;
  }
  strong {
    font-weight: bold;
  }
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;

  }
  th, td {
    border: 4px solid white;
    background-color: #49BEAA;
    padding: 8px;
    text-align: center;
  }
  th {
    color: #EEB867;
    background-color: #495CA9;
    font-weight: bold;
  }
  #logo-container{
    position: absolute;
    right: 10px;
    top: 1px;
  }
  .logo {
    height: 50px;
  }